@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.all {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://scontent-sjc2-1.xx.fbcdn.net/v/t31.0-8/19055638_740772002777230_455689056555922312_o.jpg?oh=c8e9635e4873ec705baf8c5fa84c173a&oe=59C3D46F) no-repeat 50% 50%;
										/*get band photo*/
	display: table;
	top: 0;
	background-size: cover;
}
.inside {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: 'Raleway', sans-serif;	/*change font*/
	color: #FFFFFF;						/*change color*/
	text-shadow: 0px 0px 300px #000;	/*mess with this*/
	font-size: 500%;
}
.enter_button{
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;	/*change font*/
	color: #FFFFFF;						/*change color*/
	font-size: 150%;
	padding: 10px 20px;					/*space around text on button*/
	border: solid #FFFFFF 3px;			/*border for button*/
	text-transform: uppercase;
	text-decoration: none;
}
.enter_button:hover {
	color: #000;						/*color turns from white to black*/
	border: solid #000 3px;				/*this looks terrible change later please.*/
}