<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/style_gallery.css">
</head>
	<title>Gallery</title>
	<body>
		<div class="menu">
			<ul>
				<li><a href="music.html">MUSIC</a></li>
				<li><a href="contact.html">CONTACT</a></li>
				<li><a href="gallery.html">GALLERY</a></li>
				<li><a href="https://lukeloww.bandcamp.com/merch/compact-disc-shirt">MERCH</a></li>
				<li style= "float:right"><a class="right" href="index.html">LUKELOWW</a></li>
			</ul>
		</div>
		<div id="images">
			<img id="bridge" src="../static/images/bridge.jpg">
			<img id="chillin" src="../static/images/chris_chillin.jpg">
			<img id="crew" src="../static/images/crew.jpg">
			<img id="dope" src="../static/images/dope.jpg">
		</div>
		<div id="slider">
			<a href="#bridge">1</a>
			<a href="#chillin">2</a>
			<a href="#crew">3</a>
			<a href="#dope">4</a>
		</div>
	</body>
</html>