<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/style_gallery.css">
</head>
	<title>Gallery</title>
	<body>
		<div id="images">
			<img id="bridge" src="../static/images/bridge.jpg">
			<img id="chillin" src="../static/images/chris_chillin.jpg">
			<img id="crew" src="../static/images/crew.jpg">
			<img id="dope" src="../static/images/dope.jpg">
		</div>
		<div id="slider">
			<a href="#bridge">1</a>
			<a href="#chillin">2</a>
			<a href="#crew">3</a>
			<a href="#dope">4</a>
	</body>
</html>